<form class="centerInput" action="/credentials/<%= details %>" method="POST">
  <label for="inputCredential" style="color: white">
    Enter Admin Password:
  </label>
  <input id="inputCredential" name="password" />
  <button>submit</button>
</form>
