<!-- 404.ejs -->
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <div>
      <div>
        <h1><%= appObject.appName %></h1>
      </div>
      <br />
      <hr />

      <div>
        <h2>Oops, Page Not Found :)</h2>
      </div>
      <hr />
      <a href="/">Back to Home</a>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
